.sticky {
  position: sticky;
  top: 15px;
  width: 40%;
  background-color: #e1e6ec;
  line-height: 21px;
  font-weight: initial;
  padding: 3px;
  height: 30px;
  z-index: 2;
  font-family: "Rubik-Regular";
  color: #648895;
  text-align: center;
  margin: 0 auto;
  margin-bottom: -30px;
  border-radius: 5px;
  border: 1px solid #FFF;
  cursor: pointer;

}
