.btn{
  width: calc(100% + 40px);
  margin-left: -20px;
  color: #278ec4;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 10px 0 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
.unsubscribe_text.indent{
  margin-bottom: 0;
}
.ic{
  display: block;
  margin-bottom: 20px;
  width: auto;
  height: auto;
}