<div class="pers_coment initial_post">
  <div class="row">
    <div class="pers_comment_top">
      <div class="pers_comment_icon">
        <img src="/assets/img/hause.jpg" alt="">
      </div>
      <div class="pers_comment_post">UI/UX community •</div>
      <div class="post_time color_black">
        <p>2ч</p>
      </div>
      <div class="post_class color_black">
        <p>Пост</p>
      </div>
    </div>
    <div class="pers_comment_middle">
      <div class="denomination_pers_comment">
        <h4>Тренды в дизайне интерфейсов в 2018</h4>
      </div>
    </div>
    <div class="pers_comment_bottom">
      <div class="my_comment">
        <p>Неплохая подборка</p>
      </div>
      <div class="my_rating">
        <div class="someone_like m_r_30">
          <div class="like size_like_icon"></div>
          <div class="someone_number_like">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pers_coment">
  <div class="row">
    <div class="pers_comment_top">
      <div class="pers_comment_icon">
        <img src="/assets/img/hause.jpg" alt="">
      </div>
      <div class="pers_comment_post">UI/UX community •</div>
      <div class="post_time color_black">
        <p>2ч</p>
      </div>
      <div class="post_class color_black">
        <p>Пост</p>
      </div>
    </div>
    <div class="pers_comment_middle">
      <div class="denomination_pers_comment">
        <h4>Самые ожидаемые игры 2019 года</h4>
      </div>
    </div>
    <div class="pers_comment_bottom">
      <div class="my_comment">
        <p>Жду очень Sekiro Shadow Die Twice</p>
      </div>
      <div class="my_rating">
        <div class="someone_like m_r_30">
          <div class="like size_like_icon"></div>
          <div class="someone_number_like">3</div>
        </div>
        <div class="someone_dislike m_r_30">
          <div class="dislike size_like_icon"></div>
          <div class="someone_number_like">1</div>
        </div>
        <div class="someone_repost">
          <div class="repost size_like_icon"></div>
          <div class="someone_number_like">1</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pers_coment">
  <div class="row">
    <div class="pers_comment_top">
      <div class="pers_comment_icon">
        <img src="/assets/img/hause.jpg" alt="">
      </div>
      <div class="pers_comment_post">UI/UX community •</div>
      <div class="post_time color_black">
        <p>2ч</p>
      </div>
      <div class="post_class color_black">
        <p>Пост</p>
      </div>
    </div>
    <div class="pers_comment_middle">
      <div class="denomination_pers_comment">
        <h4>Тренды в дизайне интерфейсов в 2018</h4>
      </div>
    </div>
    <div class="pers_comment_bottom">
      <div class="my_comment">
        <p>Неплохая подборка</p>
      </div>
      <div class="my_rating">
        <div class="someone_like m_r_30">
          <div class="like size_like_icon"></div>
          <div class="someone_number_like">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
