<div class="create_post modal_create" *ngIf="!getChannel">
    <div class="row cr-tp">
        <div class="create_post_top center_edges">
            <div class="create_post_top_left left_centr">
                <div class="arrow_exit" (click)="_location.back()">
                    <a class="link_footer"></a>
                </div>
                <div class="arrow_exit_text">{{'Create_a_post'|translate}}</div>
            </div>
            <div class="pushbutton_create">
                <input class="butText" value="{{'Ready'|translate}}" type="button" (click)="saveData()">
            </div>
        </div>
    </div>
    <div class="main-create-post">
      <div class="center_edges locSelect m_b_24"  [ngStyle]="{'background-color':editPost?'#f1f1f1':null}" (click)="editPost?null:getChannel=true" [ngClass]="{'placeFound':channel}">
        <div class="found_option left_centr" *ngIf="channel">
            <div class="post_icon_setting">
                <img src="{{channel.avatar}}" alt="">
            </div>
            <div class="found_text">
                <div class="find_name">
                    <p>{{channel.id==0?'@'+user.profile.username:'~'+channel.name}}</p>
                    <!--<p class="gray-text">15 мин. назад</p>-->
                </div>
              <div class="find_number">
                <p> {{channel.id==0?user.profile.subscribers:channel.subscribers}} {{dataService.declination(channel.subscribers,'subscriber')|translate}}</p>
              </div>
            </div>
            <!--<a class="found_option_link" href="foreign_page.html"></a>-->
        </div>
        <div class="locSltBl fz-16 gray_color f-rubik">
            {{'Choose_where_publish'|translate}}
        </div>
    </div>
      <div class="create_post_flex">
        <div class="create_post_middle m_b_24">
            <!--<div class="pushbutton_create">-->
            <!--<input class="confirm_create" type="submit">-->
            <!--</div>-->
            <div class="wrapEntryHeading m_b_12" [ngClass]="{'error':title.length>300}">
                <div class="entry_heading mb5 error">
                    <input class="heading_post" type="text" placeholder="{{'Header'|translate}}" [(ngModel)]="title">
                    <p class="initial_heading">{{'Header'|translate}}</p>
                </div>
                <div class="wrap-character-count ">
                    <div class="character-count gray-text">
                        {{title.length || 0}}
                    </div>
                    <div class="gray-text">
                        /300
                    </div>
                </div>
            </div>
            <div class="wrapEntryText" [ngClass]="{'error':text.length>800}">
                <div class="entry_text">
                    <textarea class="text_post" cols="30" rows="4" placeholder="{{'Enter_text_or_link'|translate}}"
                              type="text" [(ngModel)]="text"></textarea>
                    <p class="initial_text">{{'Enter_text_or_link'|translate}}</p>
                    <div class="wrap-character-count">
                        <div class="character-count gray-text">
                            {{text.length || 0}}
                        </div>
                        <div class="gray-text">
                            /800
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="create_post_bottom">
            <div class="create_post_photo">
                <div class="create_post_replacement left_centr" [ngClass]="{'active':addImg}">
                    <div class="create_post_plus"></div>
                    <div class="create_post_text" (click)="addImg=!addImg">{{'Add_photo_or_video'|translate}}</div>
                </div>
                <div class="create_post_added" [ngClass]="{'active':addImg}">
                    <!--<input id="imgAdd" #fileInput style="display: none" (change)="onFileChanged($event);imageService.upload($event).then(setfileArr.bind(this))"   type="file" multiple="multiple"  />-->
                    <div class="added_img" (click)="uploadFiles = true">
                        <div class="plus_added ic"></div>

                    </div>
                    <div class="added_gallery" *ngFor="let img of arrImg;let i = index">
                        <div class="added_gallery_img" *ngIf="img.type=='image'" (click)="setFotoSetting(img)">
                            <img src="{{img.url}}" alt="#">

                        </div>
                        <div class="added_gallery_img" *ngIf="img.type=='video'">

                            <video controls="" width="85" height="85" preload="none">
                                <source type="video/mp4" src="{{img.url}}">
                            </video>
                        </div>
                        <div class="opacity_mini_pic" (click)="arrImg.splice(i,1)"></div>
                    </div>

                </div>

            </div>
            <div class="wrapPostBtn left_centr m_b_24">
                <div class=" left_centr mr16px PostBtn" [ngClass]="{'active':spoiler==1}" (click)="spoiler==0?spoiler=1:spoiler=0">
                    <div class="BtnIcSpoil ic mr12"></div>
                    <div class="BtnText fz-14 gray_color">
                        {{'Spoiler'|translate}}
                    </div>
                </div>
                <div class="left_centr PostBtn mr16px" [ngClass]="{'active':NSFW==1}" (click)="NSFW==0?NSFW=1:NSFW=0">
                    <div class="BtnIcNSFW ic mr12"></div>
                    <div class="BtnText fz-14 gray_color">
                        NSFW
                    </div>
                </div>
                <!--<div class="left_centr PostBtn">-->
                    <!--<div class="BtnIc18 ic"></div>-->
                <!--</div>-->
            </div>
            <div class="create_post_hashtag " (click)="setHashTags = true">
                <!--<rl-tag-input [(ngModel)]="tags" placeholder="Testing placeholder"></rl-tag-input>-->
                <input type="text" class="hash-input" disabled placeholder="{{tags.length==0?('#add_tags'|translate):'#'+(tags.join(' #'))}}">
            </div>
        </div>
    </div>
    </div>
</div>

<app-set-seting-foto  *ngIf="settingFoto.hasOwnProperty('url')" [img]="settingFoto" (newImg)="setFotoName($event)" (cancel)="settingFoto = {}"></app-set-seting-foto>
<app-create-hash-tags *ngIf="setHashTags" [tags]="tags"  (tagsArr)="tags = $event" (close)="setHashTags = false"></app-create-hash-tags>


<app-search-channel-module *ngIf="getChannel" (exit)="getChannel = false;"
                           (channel)="setChannel($event);getChannel = false"></app-search-channel-module>

<app-upload-file [type]="[1,2]" [show]="uploadFiles" (photo)="setFiles($event);uploadFiles = false"
                 (error)="uploadFiles = false"></app-upload-file>
