<div class="start_screen_modal">
  <div class="blue_cut"></div>
  <div class="cut_posit_one"></div>
  <div class="wrap-posit_two">
    <div class="cut_posit_two"></div>
  </div>
  <div class="cut_posit_three"></div>
  <div class="cut_posit_four"></div>
  <div class="cut_posit_five"></div>
  <div class="info_block_start column_centr">
    <div class="weble_main_icon"></div>
    <div class="wrap-posit_six">
      <div class="cut_posit_six"></div>
    </div>
    <div class="you_welcome">
      <h1>{{'WelcomeToWeble'|translate}}</h1>
      <!--<button type="button" class="btn" (click)="submitLogin();">Login with facebook</button>-->
    </div>
    <div class="perent_join_link">
      <a class="join_link column_centr" [routerLink]="['/login']"> {{'Join'|translate}}</a>
    </div>
    <div class="perent_without_registration">
      <a class="join_link"  [routerLink]="['/main-popular']"> {{'contWthReg'|translate}}</a>
    </div>
    <!--<div class="wrap-facebook-btn">-->
      <!--<input type="button" (click)="LoginWithFacebook()" value="{{'LoginWithFacebook'|translate}}">-->

    <!--</div>-->
  </div>
</div>
